*{
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}


.navbar{
    height: 60px;
   background-color: #0f1111;
   color: white; 
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.nav-logo{
    height: 50px;
    width: 100px;
    background-color: #0f1111;
}

.logo{
    height: 50px;
    width: 100%;
    background-image: url("assets/amazon_logo.png");
    background-size: cover;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
/* addresss */

.add-para1{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

    

}
.add-para2{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* Search box  */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: green;
    width: 620px;
    height: 40px;
    border-radius: 5px;
}
.nav-search:hover{
    border: 2px solid #febd68;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    flex-shrink: 2;
}
.search-icon{
    width:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}
/* lang */

.nav-lang select{
   font-weight: 700;
    font-size: 0.75rem;
    color: white;
    background-color:#0f1111;
    width: 38px;
    text-align: center;
    border: none;
}

/* signin */

.nav-p2{
    font-size: 0.85rem; 
    font-weight: 700; 
}
span{
    font-size: 0.75rem;
}

/* cart */

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;

}


/* panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.panel-opt p{
    display: inline;
    margin-left: 15px;
}

.panel-opt{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/* 
hero-section */

.hero-section{
    height: 380px;
    background-image: url("assets/hero_image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-box{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-box a{
    text-decoration: none;
    color: #007185;
}

/* shop-section */

.shop-main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #e2e7e6;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box{ 
    border-radius: 10px;
    height: 420px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
}

.box-img{
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
 }
 .box-content p{
    color:#007185;
 }

footer{
    margin-top: 15px;
}
 .foot-panel{
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
 }
 .foot-panel a{
    text-decoration: none;
    color: white;
 }
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    font-size: 1rem;
 }
 .foot-panel2 ul{
    margin-top: 40px;
 }
 .foot-panel2 a{
    text-decoration: none;
    display: block;
    font-size: 0.85rem;
    font-weight: normal;
    margin-top: 10px;
    color: #DDDDDD;
 }
 .foot-panel2 a:hover{
    text-decoration: underline;
 }
 .foot-panel2 p{
    font-weight: 700;
 }
 .foot-panel2{
    display: flex;
    justify-content: space-evenly;
 }
 .foot-panel3{
    height: 70px;
    background-color: #222f3d;
    color: white;
    border-top:0.5px solid white;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.foot-logo{
    background-image: url("assets/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;

}
.foot-panel4{
    font-size: 0.75rem;
    height: 80px;
    background-color: #0f1111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    align-items: center;
}
.pages{
    flex-direction: row;
}
.pages a{
    margin-left: 20px;
}
/* Mobile Screen Responsive */
@media only screen and (max-width: 768px){
    .panel{
        height: 100%;
        flex-direction: column;
        padding: 15px;
        gap: 10px;
        align-items: flex-start;
        justify-content: center;
    }
    /* .panel-opt p{
        margin-left: 0px;
    } */

    .panel-opt{
        display: none;
        /* width: 100%; */
    }
    .panel-deals{
        display: none;
    }


    .box-img{
        height: 210px;
        background-size: auto;
    }

    .box{
        width: 43%;
        height: 330px;
        border-radius: 8px;
    }

    .hero-section{
        background-size: contain;
        height: 300px;
        padding-bottom: 0px;
    }
    .hero-box{
        border: 1px solid black;
        height: 65px;
        padding: 10px;
    }
    .navbar{
        flex-direction: row;
        gap: 15px;
        height: 100%;
        padding: 10px;
        flex-wrap: wrap;
    }
    .nav-search{
        width: 100vw;
    }
    .nav-logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 70%;
    }
    .logo{
        width: 100px;
    }

    footer{
        margin-top: 0px;
    }

    .foot-panel2{
        flex-direction: column;
        height: 100%;
        padding-bottom: 30px; 
    }
    .foot-panel{
        flex-direction: column;
    }
}